/*------------------------------------*\
    #INSIGHTS-GRID-CELL-CONTENT-BLOCK
\*------------------------------------*/

.insights-grid-cell-content-block {
    position: relative;
    margin-bottom: $spacing-unit;
    height: 100%;
    overflow: hidden;
}
